/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* end reset */
body {
  background-color: #200000;
  color: #fffbfb;
}
label {
  color: inherit;
}
main {
  min-height: calc(100vh - 120px); /* Adjust for header and footer height */
}
section, .section {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}
section.wide {
  max-width: 1200px;
}
header, footer {
  background-color: #200000;
  padding: 10px 20px;
  text-align: center;
  height: 60px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav a {
  font-weight: 800;
}
ol > li {
  margin-bottom: 10px;
}
h1, .h1 {
  font-size: 3.157rem;
  line-height: 1.1;
}
h2, .h2 {
  font-size: 2.369rem;
  line-height: 1.3;
}
h3, .h3 {
  font-size: 1.777rem;
}
h4, .h4 {
  font-size: 1.333rem;
}
p {
  margin: 10px 0;
  max-width: 800px;
}
small {
  font-size: 0.75rem;
}
a {
  color: #f00000;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}

@media all and (max-width: 900px) {
  .open-close-toggle + * + * {
    display: none;
  }
  .open-close-toggle:checked + * + * {
    display: flex;
    justify-content: center;
  }
  .open-close-toggle + * .close {
    display: none;
  }
  .open-close-toggle:checked + * .open {
    display: none;
  }
  .open-close-toggle:checked + * .close {
    display: block;
  }
}

@media all and (max-width: 500px) {
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dn {display: none}
.vh {visibility: hidden}
.vv\:f:focus {visibility: visible}
.df {display: flex}
.jcsb {justify-content: space-between}
.aic {align-items: center}
.aifs {align-items: flex-start}
.fxdrcr {flex-direction: column-reverse}
.fxdrrr {flex-direction: row-reverse}
.g20 {gap: 20px}
.posf {position: fixed}
.oh {overflow: hidden}
.w100\% {width: 100%}
.w70\% {width: 70%}
.w50\% {width: 50%}
.bgc-diesel {background-color: #200000}
.trs-top-0\.3s-eio {transition: top 0.3s ease-in-out}
.posa {position: absolute}
.posr {position: relative}
.z10 {z-index: 10}
.z11 {z-index: 11}
.h-calc\(80vh-60px\) {height: calc(80vh - 60px)}
.h60 {height: 60px}
.h100vh {height: 100vh}
.mih400 {min-height: 400px}
.t0 {top: 0}
.b0 {bottom: 0}
.l0 {left: 0}
.p10 {padding: 10px}
.pl20 {padding-left: 20px}
.ml20 {margin-left: 20px}
.mb20 {margin-bottom: 20px}
.mb40 {margin-bottom: 40px}
.bd2-s-red {border: 2px solid #f00}
.fw900 {font-weight: 900}
.fsi {font-style: italic}

@media all and (max-width: 1400px) {
  .h-calc\(70vh-60px\)\@1400 {height: calc(70vh - 60px)}
}

@media all and (max-width: 900px) {
  .dn\@900 {display: none}
  .db\@900 {display: block}
  .posa\@900 {position: absolute}
  .posr\@900 {position: relative}
  .t100\%\@900 {top: 100%}
  .l0\@900 {left: 0}
  .w100\%\@900 {width: 100%}
  .w-auto\@900 {width:auto}
  .h-auto\@900 {height:auto}
  .df\@900 {display: flex}
  .fxdrc\@900 {flex-direction: column}
  .bgc-diesel\@900 {background-color: #200000}
  .bgc-temptress\:h\@900:hover {background-color: #400000}
}

@media all and (max-width: 650px) {
  .w100\%\@650 {width: 100%}
}

@media all and (max-width: 500px) {
  .posr\@500 {position: relative}
  .db\@500 {display: block}
}